
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #EAFDFC;
   padding-top: 16%;
    position: relative;
    
    
}


h1{
    /* font:italic small-caps bold 16px/2 cursive; */
    font-family: 'Sacramento', cursive;
    font-size: 65px;                               /* 100%=16px    65px=?  it is 4.0625 */
    margin-block-start: 0;        
    margin-block-end: 0;
    color: #66BFBF;
       
}

h2{
    color: #66BFBF;
}

h3{
    
    color: #66BFBF;
    font-weight: normal;
}

.i{
    /* font: italic 1.2em "Fira Sans", serif;  */
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 0.938rem;
}

h3{
    color:  #11999E;
}

.footer-link{
    color: #11999E;
}


.bottom-cloud{
    position: absolute;
    left: 27%;
    bottom: 44%;
}

.top-cloud{
    position: absolute;
    right: 27%;
    top: 21%;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.para{
    line-height: 2;
}


.me{
    height: 230px;
    width: 230px;
}

.about-myself{
    width: 40%;
    margin: 0 auto;
    line-height: 2;
}

.programmer{
    
    width: 27%;   
    float: left;
    margin-right: 30px;
}

.text{
    padding-top: 2px;
}

.books{
    
    width: 27%;   
    float: right;
    margin-left: 30px;
}

.middle-container{
    padding-top: 50px;
}

.skills{
    padding-top: 50px;
}

hr{
    border-style: dotted none none none;
    border-width: 7px;
    width: 4%;
    color: rgb(153, 152, 152);
    margin-top: 50px;
}

.contact-me{
    padding-top: 40px;
}

.foot{
    margin-top: 40px;
}

.bottom-container{
   background-color:#66BFBF;
   margin-top: 20px;
   height: 120px;
   padding-top: 35px;
}

.footer{
   margin: 70px;
   color: #11999E;
}

.f-t{
    color: #eaf6f6;
    font-size:small;
    padding-top: 20px;
}

.button{
    padding-top: 20px;
}

.btn{
    
    margin-left:680px;
    width: 10%;
    height: 35px;
    background-color: #66BFBF;
    border-radius: 10px;
    padding-top: 11px;
    
}

